/*------------------------------------*\
	GENERIC
\*------------------------------------*/
html {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

*, *:before, *:after {
	box-sizing: inherit;

	font-family: monospace, 'Courier New';
	font-size: 12px;
}

body, html {
	min-height: 100%;
	min-width: 600px;
	background-color: transparent;
	overflow: hidden;
	padding: 0px;
	margin:0px;
	color: #00DD00;
}
	
	
.navbar {
	    background: rgb(0, 0, 0)!important;
    position: absolute;
    top: 0%;
    width: 100%;
    border-radius: 0px;
	
	
	}	
	
	
	
	


.good 		{ color: #99FF99; }
.bad 		{ color: #ff7777; }
.info 		{ color: #99FFFF; }
.neutral	{ color: #eeeeee; }

/*------------------------------------*\
	CHAT
\*------------------------------------*/

#l{
    top: 10px;
    left: 11.7px;
    position: absolute;
}



#chat {
	left: 0;
	right: 0;
	bottom: 70px;
	position: absolute;
	list-style-type: none;
	padding:0;
	margin:0;
	overflow: auto;
}

/* Messages */
#chat li {
	white-space: normal;
	padding: 2px 15px;
	color: #606006;
}

#chat li .timestamp {
	color: #808008;
}

/* Message types */
/* the `i` element hold the actual message */
#chat i {
	font-style: normal;    color: #00DD00;
    font-weight: 900;
    font-size: 1.5em;
}
#chat i.motd	{ color: #99FF99; display:inline-block; line-height: 12px !important;width:100%; }
#chat i.info	{ color: #999999; }
#chat i.server	{ color: #99FFFF; }
#chat i.error	{ color: #ff7777; }
#chat i.message	{ color: #eeeeee;color: #00DD00;font-weight: 900;font-size: 1.5em; }
#chat i.nick	{ color: #99FF99; }
#chat i.fatal	{ color: #ff7777; }

/*------------------------------------*\
	INPUT & LOADER
\*------------------------------------*/
#input_wrapper {
	right:20px;
	bottom:13px;
	left:15px;
	position: absolute;

	height:40px;
}

#input,
#loader {
	top: 0;
	bottom: 0;
	width: 100%;
	position: absolute;
	border: 0;
	outline: 0;
	padding: 5px 5px 5px 15px;
	height:40px;
	border: 2.5px dotted #9fea46;
      /*border-radius: 20px;*/
}

#input {z-index: 1;
    /*background: linear-gradient(to right, #000000 0%, transparent 50%);*/
    font-weight: 900;
    font-size: 1.5em;
    color: #fff;
    background:transparent;
}
 }
#loader { z-index: 0; line-height: 20px; font-size: 14px; font-weight: 100; font-family: tahoma;}







pre {
    display: block;
    padding: 0px;
    margin: 0 0 0px;
    font-size: 13px;
    line-height: inherit;
    color: #A8FF60;
    word-break: break-all;
    word-wrap: break-word;
  /*background: linear-gradient(to right, #edeef5 25%, transparent 50%);*/
    background:transparent;
    border: 0px solid #ccc;
    border-radius: 20px;
    overflow:hidden;
    margin-left: 0px;
}








/*------------------------------------*\
	SPINNER
\*------------------------------------*/
#ip{
position: absolute;
    left: 68%;
    top: 25%;
    font-weight: 900;
    font-size: medium;
}
.loading #loader { z-index: 2; }
.loading #loader span {
	margin-left:-2px;
	-webkit-animation: rotation 1s infinite linear;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}
